<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="JsonConnection" connectionString="Uri=&quot;C:\Users\Jakob\Documents\FormsVision\Test Cafe\report.json&quot;"
            providerName="JsonSourceProvider" />
        <add name="JsonConnection_PlaceHolder" connectionString="Uri=&quot;C:\Users\Jakob\Documents\FormsVision\Test Cafe\report example.json&quot;"
            providerName="JsonSourceProvider" />
        <add name="JsonConnection 1" connectionString="Uri=&quot;C:\Users\Jakob\Documents\FormsVision\Test Cafe\report placeholder.json&quot;"
            providerName="JsonSourceProvider" />
    </connectionStrings>
</configuration>